.HomePage {
  height: 100vh !important;
}

.tableDiv{
  border-radius: 8px;
}








/* home page styling */
body{
    background-color: #E5E7EB !important;
}
.homePageHeading{
    color: #374151 !important;
}





