/* table component */
table th {
  color: #6b7280 !important;
  font-weight: 500;
  font-size: 12px;
  padding: 15px !important;
}

@media all and (max-width: 768px) {
  .tableResponsive {
    display: none;
  }

  .tableDataEmail {
    max-width: 30px;
  }
}

#table {
  border-radius: 8px !important;
}


td {
  padding: 10px !important;
  font-size: 14px;
  margin: auto;
}

@media all and (max-width: 375px) {
  .tableResponsiveImg {
    display: none;
  }
}

.tableDataEmail {
  overflow: auto;
  max-width: 150px;
}

.tableDataName {
  overflow: auto !important;
  max-width: 100px;
  flex-wrap: nowrap;
}

